services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: room_management_fe
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env.local
