services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: room_management_fe
    ports:
      - "3001:3001"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env.local
